<!DOCTYPE html>
<html>
<head>
    <title>Web Relay</title>
    <style>
        body {
                color: #eee;
                background: #121212;
                font:  sans-serif;
            }


        h1   {color: white;font-size: 500%;}
        h2  {color: red}
        p    {color: red;}
        button { background-color: bisque; font: outline; font-size: 450%;min-width: 80%; text-emphasis: none; text-align: left;}
    </style>
</head>

<body>
    <script>
        const URL="http://openwrt.lan:5000";
        var s1=0,s2=0,s3=0,s4=0;
        var f=1;
        const on="🟢 |";
        const off="🔴 |";
        const b1="⚡Primary Lamp";
        const b2="💡Secondary Lamp";
        const b3="🍭RGB";
        const b4="🔌Switch 4";

function hello(){
    console.log("Hello World!!");
    document.getElementById("hello").value="Hello World!!";
}

function runfeed(){
    var url = URL+"/status";
    if(f){
        f=0;
        document.getElementById("feed").innerHTML="Running Feed"
        document.getElementById("feed").style="background:red";
        setInterval(api,1000)
    }else{
        window.location.href = "index.html";
    }
}

async function api(){
    var url = URL+"/status";
    const response = await fetch(url);
    var data = await response.json();

    s1=data["R1"];
    s2=data["R2"];
    s3=data["R3"];
    s4=data["R4"];
    if(data["R1"]){document.getElementById("b1").innerHTML=on+b1;} else { document.getElementById("b1").innerHTML=off+b1 }
    if(data["R2"]){document.getElementById("b2").innerHTML=on+b2;} else { document.getElementById("b2").innerHTML=off+b2 }
    if(data["R3"]){document.getElementById("b3").innerHTML=on+b3;} else { document.getElementById("b3").innerHTML=off+b3 }
    if(data["R4"]){document.getElementById("b4").innerHTML=on+b4;} else { document.getElementById("b4").innerHTML=off+b4 }
    console.log(data);
}
api();

async function button(b){
    var s;

if(b=="R1"){ if(s1){ s1=0; }else{ s1=1; } s=s1}
if(b=="R2"){ if(s2){ s2=0; }else{ s2=1; } s=s2}
if(b=="R3"){ if(s3){ s3=0; }else{ s3=1; } s=s3}
if(b=="R4"){ if(s4){ s4=0; }else{ s4=1; } s=s4}

    response= await fetch(URL+"/set?relay="+b+"&state="+s);
    var status= await response.status;
    if(status==200){
        api();
    }
}
</script>
<h1>Web Relay RPi OpenWRT</h1>
    <button onclick="button('R1')" id="b1"></button>           <br>
    <button onclick="button('R2')" id="b2"></button>           <br>
    <button onclick="button('R3')" id="b3"></button>           <br>
    <button onclick="button('R4')" id="b4"></button>           <br><br>
    <button style="background:green" id="feed" onclick="runfeed()">Feed Not Running</button> <br>
</body>
</html>